api.evaldiff.io {
	reverse_proxy api:8000
	encode zstd gzip

	# security headers
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		-Server
	}
}
